*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.nav{
    top: 2em;
    left: 0px;
    width: 100%;
    position: fixed;
    margin-bottom: 3em;  
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 30%;
    margin-right: 10%;
}

.links{
    
}
