*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.homejob{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 3em;
}
.circular{
    top: 50%;
    left: 50%;
    position: fixed;
}
.title{
    text-transform: capitalize;
    letter-spacing: .2em;
    padding: .3em;
    color: purple;
    font-weight: bold;
    text-decoration: underline;

}
.cname{
    text-transform: capitalize;
    font-weight: bold;
}
.location{
    text-transform: capitalize;
    font-weight: lighter;
    color: rgb(239, 5, 239);

}
.paper{
    padding: 1.5em;
    margin-bottom: .4em;
    margin-top: .8em;
}
.allhomejob{
  
}
.alljobs{
    
}