*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;  
}
.foot{
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    margin-bottom: .2em;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.info{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(20, 20, 20);
    font-style: italic;
}