*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.homelatest{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6em;

}
.circular{
    left: 50%;
    top: 50%;
    position: fixed;
}