*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.homelatest{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6em;
    margin-bottom: 3em;


}
.title{
    text-transform: capitalize;
    letter-spacing: .2em;
    padding: .3em;
    color: purple;
    font-weight: bold;
    text-decoration: underline;
}
.company{
    text-transform: capitalize;
    letter-spacing: .1em;
    padding: .1em;
    color: rgb(179, 2, 179);
}
.circular{
    left: 50%;
    top: 50%;
    position: fixed;
}
.dateadd{
    padding: .1em;
    
}
.tags{
    color: rgb(216, 6, 216);
    padding-left: .2em;
    text-transform: capitalize;
    font-style: italic;
}
.linking{
    color: green;
}
.source{
    text-transform: capitalize;
    font-weight: bold;
}
.paper{
    padding: 1.5em;
    margin-bottom: .4em;
    
}